/.venv/
/_____.py
/pretrained_models/
/wav/
/misha_20sec.wav
/Fine-Tuning preparing/TranscribeEnglish.py
/Fine-Tuning preparing/TranscribeRussian.py
/Fine-Tuning preparing/MoveFilesAndMake_datasetCSV.py
/___.py
/_____.py
/toCheckIfThisWORK.rar
/debug_wav/
