noisereduce==3.0.3
numpy==2.3.1
openai_whisper==20240930
openai_whisper==20250625
Resemblyzer==0.1.4
scikit_learn==1.7.0
sounddevice==0.5.2
soundfile==0.13.1
speechbrain==1.0.3
torch==2.5.1
torch==2.7.1
torchaudio==2.5.1
torchaudio==2.7.1
webrtcvad==2.0.10

