numpy==1.26.4
speechbrain==1.0.3
openai-whisper==20250625
torch==2.1.2
torchaudio==2.1.2
torchvision==0.16.2
torchdiffeq==0.2.5
torchmetrics==1.8.1
transformers==4.51.3
soundfile==0.13.1
scikit-learn==1.7.2
scipy==1.15.3
huggingface-hub==0.35.0

-e git+https://github.com/SWivid/F5-TTS.git@605fa13b42b40e860961bac8ce30fe49f02dfa0d#egg=f5_tts


safetensors
webrtcvad
sounddevice
fastapi
uvicorn
python-multipart
pydantic
httpx
